<h1>Movies#show</h1>
<table border="1">
	
<tr>
	<td> <%=@movie.title%> </td>
	<td> <%=@movie.country%> </td>
	<td> <%=@movie.date%> </td>
	<td> <%=@movie.director%> </td>
	<td> <%=@movie.description%> </td>

	
</tr>

</table>

<%= link_to 'Edit' , edit_movie_path(@movie)%>
<%= link_to 'Movies' , movies_path%>
